html {
    box-sizing: border-box;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
    background:  #243b55;
    box-sizing: inherit;
    padding-bottom: 100px;
}
hr {
    margin: 0;
}
#container {
    min-height:100%;
    position:relative;
 }

header{
    flex-basis: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 #body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
 }
 #footer {
    
    width:100%;
    height:30px;   /* Height of the footer */
    background: #13202e
 }

 footer {
    /*background-color: #dddddd;*/
    background: #13202e;
    color: #fff;
   display: block;
   text-align: center;
   padding: 5px 0px;
   margin-top: auto;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
}
.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.col {
    flex-basis: 49%;
    max-width: 49%;
}
.col-6 {
    flex: 1;
    
    max-width: 49.9%;
}
.f-container {
    height: 100vh;
    /* for shorter content */
    display: flex;
    flex-direction: column;
}

.mg-8 {
    margin: 8.5px;
}

.bd-right {
    border-right: 1px solid #fff;
}
.bd-bottom {
    border-bottom: 1px solid #fff;
}

.col-border {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.main {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.main p.title {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.main .machine {
    width: 40%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.main h2.center {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #f9a80d 0%, #f1e55c 30%, #f5f791 60%, #f1e55c 100%);
}

.btn {
    padding: 20px 25px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 50%;
    margin: 10px auto;
}

.btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

#logo img {
    width: 150px;
    display: block;
}
.large-3>.col {
    flex: 1;
    max-width: 33.3333333333%;
}
.col.full {
    flex-basis: 100%;
    max-width: 100%;
    
}
.white {
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
}
.p1 {
    padding: 16.9px 0;
}
.p2 {
    padding: 16.9px 0;
}
.p3 {
    padding: 17.1px 0;
}
.p3-m {
    padding: 5.5px 0;
}
.p4 {
    padding: 10px 0;
}
.dot__emergency {
    width: 28%;
    padding: 10px 1px;
    background-color: rgba(255, 0, 0, 0.596);
    border-radius: 50%;
    margin: 26px auto;
    font-size: 15px;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 26px auto;
  }
.dot__error {
    background-color: red;
}
.dot__success {
    background-color: green;
}
.log-out {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
.warning {
    color: #fff;
    background: red;
    width: 100px;
    border-radius: 50%;
    padding: 30px 0px;
    position: absolute;
    top: 150px;
    right: 250px;
}
@media screen and (max-width: 550px)
{
    .large-3>.col {
        flex-basis: 100%;
        max-width: 100%;
    }
    .dot__emergency {
        width: auto;
        padding: 50px 30px;
    }
    .p3 {
        padding: 10px 0;
    }
    .col-6 {
        flex-basis: 48.9%;
    }
}
@media screen and (max-width: 380px) {
    .dot__emergency {
        width: auto;
        padding: 50px 25px;
    }
    .p1 {
        padding: 5px 0;
    }
    .p2 {
        padding: 20px 0;
    }
    .p3 {
        padding: 5px 0;
    }
}
@media screen and (max-width: 850px) {
    .col-6 {
        flex-basis: 48.9%;
    }
}
